{% extends 'homepage.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.add_exercise') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Create an exercise</legend>

        {{ form.name.label }}
        {{ form.name }}
        <ul>
        {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        {{ form.bodyPart.label }}
        {{ form.bodyPart }}
        <ul>
        {% for error in form.bodyPart.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        {{ form.category.label }}
        {{ form.category }}
        
        <!--Show a submit button!-->
        
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}